<!DOCTYPE html>
<html>
    <head>
        <title>Your Machine Learning App</title>
    </head>
    
    <body>
        <form name="form", method="POST", style="text-align: center;" action="/">
            <br>

            Pclass: <input type="number" name="pclass", placeholder="Enter height in inches" required/>
            <br><br>
            Name: <input type="text" name="name", placeholder="Enter name" required/>
            <br><br>
            Age: <input type="number" name="age", placeholder="Enter weight in pounds" required/>
            <br><br>
            Sex: <input type="text" name="sex", placeholder="Enter Age" required/>
            <br><br>
            Sibsp: <input type="number" name="sibsp", placeholder="Enter sibsp" required/>
            <br><br>
            Parch: <input type="number" name="parch", placeholder="Enter parch" required/>
            <br><br>
            Ticket <input type="text" name="ticket", placeholder="Enter Ticket" required/>
            <br><br>
            Fare: <input type="number" name="fare", placeholder="Enter fare" required/>
            <br><br>
            Cabin: <input type="text" name="cabin", placeholder="Enter cabin" required/>
            <br><br>
            Embarked: <input type="text" name="embarked", placeholder="Enter embarked" required/>
            <br><br>
            <button value="Submit">Run</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
</html>